@font-face{
	font-family: 'mregular';
	src: url('../fonts/mregular/Montserrat-Regular.eot?v=1');
	src: url('../fonts/mregular/Montserrat-Regular.eot?iefix?v=1') format('eot'),
		 url('../fonts/mregular/Montserrat-Regular.woff?v=1') format('woff'),
		 url('../fonts/mregular/Montserrat-Regular.ttf?v=1') format('truetype');
		 font-style: normal;
		 font-weight: 400;
}
