@import "vars";
@media only screen and (max-width: 1800px) {}
@media only screen and (max-width: 1700px) {}
@media only screen and (max-width: 1500px) {}
@media only screen and (max-width: 1360px) {
  .container{
    padding-left: 120px;
    padding-right: 120px;
  }
  .footer-form__top{
    input{
      font-size: 14px;
      &::placeholder{
        font-size: 14px;
      }
    }
  }
  .footer-form__bottom{
    span{
      font-size: 14px;
    }
  }
  .footer-form__bottom button, .footer-form__top button{
    font-size: 14px;
  }
}
@media only screen and (max-width: 1100px) {

.footer-right{
  flex-direction: column;
}
  .footer-center{
    width: 80%;
  }
  .footer-form{
    margin-left: 0;
    width: 100%;
    margin-top: 30px;
  }
  .footer-right{
    margin-left: 50px;
  }
  .footer-form__top{
    margin-bottom: 55px;
  }
  .footer-center__social{
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .footer-center__social-wrap{
    width: auto;
  }
  .footer-center__social-top,.footer-center__social-bottom{
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 980px) {}
@media only screen and (max-width: 750px) {
  .container{
    padding-left: 50px;
    padding-right: 50px;
  }
  .footer-center,.footer-right{
    width: 100%;
  }
  .footer-form__top{
    flex-direction: column;
    input{
      width: 100%;
      margin-right: 0;
      &:not(:last-child){
        margin-bottom: 44px;
      }
    }
  }
  .footer-form__bottom{
    flex-direction: column;
    span{
      width: 75%;
    }
    button{
      width: 75%;
      margin-top: 30px;
      order: 2;
    }
  }
  .footer{
    height: auto;
  }
  .footer-contacts{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .footer-contacts__info{
    margin-bottom: 0;
    &:first-child{
      order: 2;
    }
    &:nth-child(2){
      order: -1;
    }
  }
  .footer-wrap{
    flex-direction: column;
    padding-bottom: 115px;
  }
  .footer-right{
    margin-left: 0;
  }
}
@media only screen and (max-width: 580px) {}
@media only screen and (max-width: 425px) {}
@media only screen and (max-width: 360px) {}
