@import 'fonts';
@import 'vars';
@import 'part';
@import 'animation';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.wrapper{
  min-width: 320px;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #fff;
  min-height: 100vh;
}
.container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 200px;
  padding-right: 200px;
  position: relative;
}
.footer{
  background-color: red;
  height: 400px;
  font-family: Noto Sans;
  &-wrap{
    padding-top: 68px;
    display: flex;
  }
  &-contacts{
    width: 25%;
    &__info{
      display: flex;
      flex-direction: column;
      &:not(:last-child){
        margin-bottom: 50px;
      }
      span{
        font-weight: bold;
        color: #435FDD;
        margin-bottom: 10px;
      }
    }
  }
  &-center{
    width: 30%;
    &__social{
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      &-wrap{
        width: 50%;
        display: flex;
      }
      &-top,&-bottom{
        display: flex;
        justify-content: space-between;
      }
      &-link{
        border-radius: 50%;
        width: 64px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FE4E4E;
      }
    }
  }
  &-form{
    width: 70%;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top,&__bottom{
      display: flex;
      justify-content: space-between;
      input{
        border: none;
        border-radius: 37px;
        height: 58px;
        padding-left: 34px;
        font-family: "Noto Sans";
        font-size: 18px;
        width: 47%;
        &::placeholder{
          color: #484848;
          opacity: 0.5;
          font-family: "Noto Sans";
          font-size: 18px;
          line-height: 140%;
        }
      }
      button{
        background-color: #FE4E4E;
        border: none;
        border-radius: 37px;
        height: 58px;
        font-family: "Noto Sans";
        font-size: 18px;
        width: 47%;
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        color: #FFFFFF;
      }
      span{
        width: 47%;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #484848;
      }
    }
    &__bottom{
      //align-items: flex-end;
    }
  }
  &-right{
    width: 75%;
    display: flex;
  }
}
@import 'media';
