//meta
meta(charset="utf-8")
meta(property="og:type" content="website")
meta(name="theme-color" content="#ffffff")
meta(property="og:title" content="Site title")
meta(property="og:site_name" content="Site name")
meta(property="og:image" content="img/sharing.jpg")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="format-detection" content="telephone=no")
meta(property="og:description" content="Description website")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
//favicon
link(rel="shortcut icon" href="img/favicon/favicon.ico")
link(rel="apple-touch-icon" href="img/favicon/apple-icon.png")
//style
link(rel='stylesheet' href='css/vendor.min.css')
link(rel='stylesheet' href='css/app.min.css')